/* Global */
html {    
    margin-top: -16px;
}
h6 {
    font-size: 1em;
    margin: 1px 0 1px 0;
}
/* Nav */
nav {
    text-align: center;
    background-color: #0da3c9;
    color: white;
    height: 80px;
    width: 100%;
    line-height: 60px;
    margin-top: -100px;
    font-weight: 600;
    font-size: 1.2em;
    position: fixed;
    z-index: 10;
}
nav li {
  list-style: none;  
  display: inline-block;
  padding: 0 30px 0 30px;
}
.github-button {
    background-color: #444444 !important;
    color: white !important;
}
.github-button:hover {
    background-color: #313131 !important;
}
.github-button img {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
/* Content */
.content-container {
    margin-top: 100px;
    text-align: center;
}
.export-button-container {
    margin-bottom: 10px;
}
.code {
    background-color: rgb(90, 90, 90);
    color: white;
    border-radius: 2px;
    padding: 1px 3px 1px 3px;
}
.tab-group-one, .tab-group-two {
    width: 80vw;
    margin: 0 auto 0 auto;
}
.ship-input {
    display: inline-block;
    width: 23%;
}
.ship-input input {
    width: 23%;
}
.ship-input p {
    margin: 3px 0 8px 0;
}
.arena-level-container {
    margin: 0 0 20px 0;
}
.item {
    cursor: pointer;
}
.red {
    color: red;
}
.green {
    color: rgb(16, 173, 16);
}
.tab-group-two {
    text-align: left;
}
.bold {
    font-weight: 600;
}
.table {
    width: 100%;
}
.drones-container {
    margin: 0 0 15px 0;
}
.drone {
    display: inline-block;
    width: 120px;
}
.drone img {
    width: 50px;
}
.drone input {
    width: 100px;
}
.difference-container {
    width: 600px;
    margin: 5px auto 5px auto;
}
.difference-container p {
    display: inline;
    padding: 0 5px 0 5px;
}
.top-tab-container {
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.9em;
}
.status-container, .statistics-container, .calculations-container {
    display: inline-block;
    vertical-align: top;
    
    padding: 5px 5px 5px 5px;
}
.status-container {
    width: 160px;
}
.statistics-container {
    width: 460px;
}
.calculations-container {
    width: 500px;
}
.overkill-container {
    width: 150px;
}
.italic {
    font-style: italic;
}
textarea {
    overflow: hidden; 
    line-height: 1em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    height: 40px;
    padding: 11px 0 10px 13px;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
textarea:active {
    border-color: #85B7D9;
}
textarea:focus {
    border-color: #85B7D9;
}
textarea::placeholder {
    color: #BEBEBE;
}
.info-container {
    margin-bottom: 50px;
}
.enemy-ship {
    text-align: right;
}
.your-ship {
    text-align: left;
}